/* CSS */
.video-container-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive video */
    max-width: 100%; /* To ensure the video doesn't exceed its parent container */
    margin: 0 auto; /* Center align the video */
  }
  
  @media (min-width: 768px) {
    .video-container-video {
      padding-bottom: 28.125%; /* 16:9 aspect ratio for half-width video on larger screens */
    }
  }
  